.svn*
*.max
*.psd
*.bak
*.sdf
*.suo
*.zip
log.txt
assets.log
*.user
*.ncb
*.aps
*.ffs_db
*.fxo
*.ffs_gui
*/obj/
.vs/
.vscode/
.DS_Store
redist/
published/
/releases
Mobile/trunk/ParaCraftMobile/frameworks/runtime-src/externals/assimp/prebuilt/win32/
__*/
_doc/
bin/
bin64/
binNPLRuntime/
Deploy/
Dev/
gameserver/
homeserver/
hudson_conf/
MobileClient/
npl_ci/
obj/
ParaWorld/
temp/
Tests/
!NPLRuntime/tests
WanDeploy/
WebAPI/
!Client/
Client/*
!Client/CMakeLists.txt
!Client/trunk/
Client/trunk/*
!Client/trunk/ParaEngineClient/
!Client/trunk/ParaEngineClientApp/
!Client/trunk/PhysicsBT/
!Client/trunk/cAudio_2.1.0/
!Client/trunk/cAudio_2.4.0/
!Client/trunk/externals/
Client/trunk/externals/*
!Client/trunk/externals/assimp*
!Client/trunk/externals/bullet-2.75/
!Client/trunk/externals/bullet3/
!Client/trunk/externals/png*
!Client/trunk/externals/jpeg*
!Client/trunk/externals/freetype2*
!Client/trunk/externals/gl*
!Client/trunk/externals/icon/
!Client/trunk/externals/FreeImage_3120/

!Server/
Server/*
!Server/trunk/
Server/trunk/*
!Server/trunk/lua-5.1.4/
!Server/trunk/luabind-0.9/
!Server/trunk/sqlite-3.6.23.1/
!Server/trunk/jsoncpp-0.5.0/
!Server/trunk/tinyxpath_1_3_1/
!Server/trunk/NPLMono/
!Server/trunk/luasql/
!Server/trunk/luaJIT/
!Server/trunk/luaJIT-2.1/
!Server/trunk/zlib-1.2.11/
!Server/trunk/curl-7.47.1/
!Server/trunk/NPLRouter/
!Server/trunk/TMInterface/

build/
buildvm_arch.h

.DS_Store

settings.json
Client/trunk/ParaEngineClient/shaders/glsl/blockEffect.fx.glsl
Client/trunk/ParaEngineClient/shaders/glsl/BMaxModel.fx.glsl
Client/trunk/ParaEngineClient/shaders/glsl/simple_particle.fx.glsl
Client/trunk/ParaEngineClient/shaders/glsl/sky.fx.glsl
/Client/trunk/externals/assimp-5.2.4
