.svn*
*.max
*.psd
*.bak
*.sdf
*.suo
*.zip
*.user
*.ncb
*.aps
*.ffs_db
*.fxo
*.ffs_gui
*/obj/
.vs/
.DS_Store
redist/
published/
/releases
Mobile/trunk/ParaCraftMobile/frameworks/runtime-src/externals/assimp/prebuilt/win32/
__*/
_doc/
bin/
bin64/
binNPLRuntime/
Deploy/
Dev/
gameserver/
homeserver/
hudson_conf/
MobileClient/
npl_ci/
obj/
ParaWorld/
temp/
Tests/
!NPLRuntime/tests
WanDeploy/
WebAPI/
!Client/
Client/*
!Client/CMakeLists.txt
!Client/trunk/
Client/trunk/*
!Client/trunk/ParaEngineClient/
!Client/trunk/ParaEngineClientApp/
!Client/trunk/externals/
Client/trunk/externals/*
!Client/trunk/externals/assimp*

!Client/trunk/externals/png*
!Client/trunk/externals/jpeg*
!Client/trunk/externals/freetype2*

!Server/
Server/*
!Server/trunk/
Server/trunk/*
!Server/trunk/lua-5.1.4/
!Server/trunk/luabind-0.9/
!Server/trunk/sqlite-3.6.23.1/
!Server/trunk/jsoncpp-0.5.0/
!Server/trunk/tinyxpath_1_3_1/
!Server/trunk/NPLMono/
!Server/trunk/luasql/
!Server/trunk/luaJIT/
!Server/trunk/zlib-1.2.3/
!Server/trunk/curl-7.47.1/


buildvm_arch.h

.DS_Store
