

[submodule "npl_packages/main"]
	path = npl_packages/main
	url = git@github.com:NPLPackages/main.git
[submodule "Client/trunk/ParaEngineClient/dxEffects2glEffects"]
	path = Client/trunk/ParaEngineClient/dxEffects2glEffects
	url = git@github.com:tatfook/dxEffects2glEffects.git
[submodule "Client/trunk/ParaEngineClient/glEffects"]
	path = Client/trunk/ParaEngineClient/glEffects
	url = git@github.com:tatfook/glEffects.git
