.svn*
*.max
*.psd
*.bak
*.sdf
*.suo
*.zip
log.txt
assets.log
*.user
*.ncb
*.aps
*.ffs_db
*.fxo
*.ffs_gui
*/obj/
.vs/
.DS_Store
redist/
published/
/releases
Mobile/trunk/ParaCraftMobile/frameworks/runtime-src/externals/assimp/prebuilt/win32/
__*/
_doc/
bin/
bin64/
binNPLRuntime/
Deploy/
Dev/
gameserver/
homeserver/
hudson_conf/
MobileClient/
npl_ci/
obj/
ParaWorld/
temp/
Tests/
!NPLRuntime/tests
WanDeploy/
WebAPI/

!Server/
Server/*
!Server/trunk/
Server/trunk/*
!Server/trunk/lua-5.1.4/
!Server/trunk/luabind-0.9/
!Server/trunk/sqlite-3.6.23.1/
!Server/trunk/jsoncpp-0.5.0/
!Server/trunk/tinyxpath_1_3_1/
!Server/trunk/NPLMono/
!Server/trunk/luasql/
!Server/trunk/luaJIT/
!Server/trunk/luaJIT-2.1/
!Server/trunk/zlib-1.2.11/
!Server/trunk/curl-7.47.1/

build/
build_emscripten/
build_emscripten_release/
build_emscripten_win64/
buildvm_arch.h
.DS_Store
settings.json
/NPLRuntime/Platform/Android/assets
/NPLRuntime/Platform/OSX/assets
/NPLRuntime/Platform/iOS/assets
/NPLRuntime/Platform/Android/assets*
/NPLRuntime/externals/boost/prebuild
/NPLRuntime/BuildPlatform
NPLRuntime/externals/LuaJIT2_0/log/
NPLRuntime/externals/LuaJIT2_1/log/
*.entitlements
!/NPLRuntime/Platform/OSX/Paracraft.entitlements
out/
Client/
win32build/
out/
SDL*/
SDL2-2.0.22.tar.gz
local.properties
NPLRuntime.code-workspace
