<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>cn.palaka.papa-adventure</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cn.palaka.papa-adventure</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>papa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.7</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>we allow external programmable devices to connect to our software, providing functions for STEM educations.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>we allow external programmable devices to connect to our software, providing functions for STEM educations.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to use the microphone to recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>we need to save screen record video to photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>we need to save screen record video to photo library.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>为了提供个性化的广告体验，请允许我们访问您的广告标识符。</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchImage</string>
	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
